#################################################################
## Home Assistant Core
#################################################################

homeassistant:
  auth_providers:
    - type: homeassistant
  auth_mfa_modules:
    - type: totp
      name: Authenticator app
  packages: !include_dir_merge_named packages/
  external_url: !secret homeassistant_url
  internal_url: !secret homeassistant_url

frontend:
  themes: !include_dir_merge_named themes/

history:

http:
  ip_ban_enabled: true
  login_attempts_threshold: 25
  use_x_forwarded_for: true
  trusted_proxies: !secret http_trusted_proxies

logbook:
  exclude:
#    entities:
    entity_globs:
      - binary_sensor.pir*
    domains:
      - automation
      - input_boolean
      - media_player

logger:
  default: warn
  logs:
    homeassistant.components.analytics: info # I'd like to see what is sent
  filters:
    homeassistant:
      - "Error doing job"
    homeassistant.components.goodwe.coordinator:
      - "No valid response received even after 10 retries"
    py.warnings:
      - "InsecureRequestWarning"
    homeassistant.components.waze_travel_time:
      - "Error on retrieving data"
    homeassistant.components.waze_travel_time.sensor:
      - "No routes found"
    homeassistant.helpers.entity:
      - "Update of sensor.robin_reistijd_naar_werk is taking over 10 seconds"
      - "Update of sensor.samantha_reistijd_naar_huis is taking over 10 seconds"
      - "Update of sensor.robin_reistijd_naar_huis is taking over 10 seconds"
    custom_components.nest_protect.pynest:
      - "Authentication error: invalid_request"
      - "Could not interpret Nest response"
    custom_components.nest_protect:
      - "Unknown pynest exception. Please create an issue on GitHub with your logfile. Updates paused for 1 minute."
    custom_components.sems.sems_api:
      - "Unable to fetch data from SEMS."

lovelace:
  mode: yaml
  resources: !include dashboards/resources.yaml

recorder:
  exclude:
    domains:
      - camera
      - media_player
      - sun
      - update
    entity_globs:
      - sensor.sun_*
#    entities:

tts:
  - platform: microsoft
    api_key: !secret azure_voice_key
    region: !secret azure_voice_region
    language: !secret azure_voice_language
    type: !secret azure_voice_name

#################################################################
## Includes
#################################################################
automation: !include automations.yaml
script: !include scripts.yaml

#################################################################
## default_config items not included elsewhere
#################################################################
#default_config:
application_credentials:
backup:
bluetooth:
cloud:
dhcp:
diagnostics:
energy:
homeassistant_alerts:
media_source:
mobile_app:
my:
ssdp:
stream:
sun:
webhook:
zeroconf:

#################################################################
## Components not using includes
#################################################################
command_line:
  notify:
    # Notify bogus service
    # Used to let automations not error out
    name: bogus
    command: ":" # bash no-op command

climate:
  - platform: intesishome
    username: !secret intesishome_username
    password: !secret intesishome_password
    device: airconwithme

# proxmoxve:
#   - host: !secret proxmoxve_hostname
#     username: !secret proxmoxve_username
#     password: !secret proxmoxve_password
#     nodes:
#       - node: intel
#         vms:
#           - 100
#           - 102
#           - 103
#           - 104
#           - 105
#           - 106
#           - 107
#           - 110
#           - 111
#     verify_ssl: false

# Storage for Bubble Card Modules
template:
  - trigger:
      - trigger: event
        event_type: bubble_card_update_modules
    sensor:
      - name: "Bubble Card Modules"
        state: "saved"
        icon: "mdi:puzzle"
        attributes:
          modules: "{{ trigger.event.data.modules }}"
          last_updated: "{{ trigger.event.data.last_updated }}"
